<div class="jumbotron center">
    <h3>Edytuj news:</h3>

    <%= form_for(@news) do |f| %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Dodaj tytuł..." %>

      
      <%= f.text_area :content, class: 'form-control', placeholder: "Treść newsa..."  %>
        <%= f.submit "Dodaj", class: "btn btn-primary" %>
    <% end %>
</div>